version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-infrastructure:
        patterns:
          - "actions/*"
    cooldown:
      default-days: 14
  - package-ecosystem: uv
    directory: "/"
    labels: ["dependencies"]
    schedule:
      interval: monthly
    groups:
      python:
        patterns:
          - "*"
    cooldown:
      default-days: 14
