[submodule "nibabel-data/nitest-balls1"]
	path = nibabel-data/nitest-balls1
	url = https://github.com/yarikoptic/nitest-balls1
[submodule "nibabel-data/nitest-minc2"]
	path = nibabel-data/nitest-minc2
	url = https://github.com/matthew-brett/nitest-minc2.git
[submodule "nipy-ecattest"]
	path = nibabel-data/nipy-ecattest
	url = https://github.com/effigies/nipy-ecattest
[submodule "nibabel-data/nitest-freesurfer"]
	path = nibabel-data/nitest-freesurfer
	url = https://bitbucket.org/nipy/nitest-freesurfer.git
[submodule "nibabel-data/parrec_oblique"]
	path = nibabel-data/parrec_oblique
	url = https://github.com/grlee77/parrec_oblique.git
[submodule "nibabel-data/nitest-cifti2"]
	path = nibabel-data/nitest-cifti2
	url = https://github.com/demianw/nibabel-nitest-cifti2.git
[submodule "nibabel-data/nitest-dicom"]
	path = nibabel-data/nitest-dicom
	url = https://github.com/effigies/nitest-dicom
[submodule "nibabel-data/dcm_qa_xa30"]
	path = nibabel-data/dcm_qa_xa30
	url = https://github.com/neurolabusc/dcm_qa_xa30.git
