Michael Hanke <michael.hanke@gmail.com> <mhanke-guest@82381867-18eb-0310-98a2-9474e637aba2>
Michael Hanke <michael.hanke@gmail.com> <michaelhanke@mvpa1.dartmouth.edu>
Yaroslav Halchenko <debian@onerussian.com> <yoh-guest@82381867-18eb-0310-98a2-9474e637aba2>
Bertrand Thirion <bertrand.thirion@inria.fr> bthirion <bertrand.thirion@inria.fr>
Stephan Gerhard <git@unidesign.ch> Stephan Gerhard <git@github.com>
