# vim ft=yaml
# CI on Windows via appveyor

environment:
  appveyor_build_worker_cloud: gce
  matrix:
    - PYTHON: C:\Python34
      NUMPY: 1.14.0
    - PYTHON: C:\Python34-x64
      NUMPY: 1.14.0
    - PYTHON: C:\Python35
      NUMPY: 1.14.0
    - PYTHON: C:\Python35-x64
      NUMPY: 1.14.0
    - PYTHON: C:\Python34
      NUMPY: 1.13.0
    - PYTHON: C:\Python34-x64
      NUMPY: 1.13.0
    - PYTHON: C:\Python35
      NUMPY: 1.13.0
    - PYTHON: C:\Python35-x64
      NUMPY: 1.13.0
    - PYTHON: C:\Python34
      NUMPY: 1.12.0
    - PYTHON: C:\Python34-x64
      NUMPY: 1.12.0
    - PYTHON: C:\Python35
      NUMPY: 1.12.0
    - PYTHON: C:\Python35-x64
      NUMPY: 1.12.0

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

  # Install the dependencies of the project.
  - pip install numpy==%NUMPY% scipy matplotlib nose h5py mock pydicom
  - pip install .
  - SET NIBABEL_DATA_DIR=%CD%\nibabel-data

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  # Change into an innocuous directory and find tests from installation
  - mkdir for_testing
  - cd for_testing
  # Print Python, numpy versions
  - python -c "import sys, numpy; print('Python', sys.version); print('numpy', numpy.__version__)"
  # Show all environment variables to ease possible future debugging
  - set
  - nosetests --with-doctest -s -v nibabel


on_failure:
  # enable the next to let the build VM block for up to 60min to log in via RDP and debug
  # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

