# vim ft=yaml
# CI on Windows via appveyor

environment:
  DEPENDS: numpy scipy matplotlib h5py pydicom

  matrix:
    - PYTHON: C:\Python27
    - PYTHON: C:\Python27-x64
    - PYTHON: C:\Python34
      DEPENDS: --prefer-binary numpy scipy matplotlib h5py pydicom
    - PYTHON: C:\Python34-x64
      DEPENDS: --prefer-binary numpy scipy matplotlib h5py pydicom
    - PYTHON: C:\Python35
    - PYTHON: C:\Python35-x64
    - PYTHON: C:\Python35-x64
      PYTHONHASHSEED: 283137131
      DEPENDS: "h5py==2.9.0"
    - PYTHON: C:\Python36
    - PYTHON: C:\Python36-x64
    - PYTHON: C:\Python37
    - PYTHON: C:\Python37-x64

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

  - python -m pip install --upgrade pip virtualenv
  - virtualenv --python=python venv
  - venv\Scripts\activate
  - python --version

  # Install the dependencies of the project.
  - pip install --upgrade pip setuptools>=27.0 wheel
  - pip install %DEPENDS%
  - pip install nose mock coverage codecov
  - pip install .
  - SET NIBABEL_DATA_DIR=%CD%\nibabel-data

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  # Change into an innocuous directory and find tests from installation
  - mkdir for_testing
  - cd for_testing
  - cp ../.coveragerc .
  - nosetests --with-doctest --with-coverage --cover-package nibabel nibabel

after_test:
  - codecov
