# vim ft=yaml
# CI on Windows via appveyor

environment:

  matrix:
    - PYTHON: C:\Python27
    - PYTHON: C:\Python27-x64
    - PYTHON: C:\Python34
    - PYTHON: C:\Python34-x64
    - PYTHON: C:\Python35
    - PYTHON: C:\Python35-x64
    - PYTHON: C:\Python36
    - PYTHON: C:\Python36-x64

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

  # Install the dependencies of the project.
  - pip install numpy scipy matplotlib nose h5py mock hypothesis pydicom
  - pip install .
  - SET NIBABEL_DATA_DIR=%CD%\nibabel-data

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  # Change into an innocuous directory and find tests from installation
  - mkdir for_testing
  - cd for_testing
  - nosetests --with-doctest nibabel
