include AUTHOR COPYING Makefile* MANIFEST.in setup* README.* pyproject.toml
include Changelog TODO requirements.txt
recursive-include doc *
recursive-include bin *
recursive-include tools *
include versioneer.py
include nibabel/_version.py
