Source: pynifti
Section: python
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <michael.hanke@gmail.com>, Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: cdbs, debhelper (>= 5.0.38), swig (>= 1.3.29), python-all-dev (>= 2.4), python-support (>= 0.6), python-numpy-ext, libnifti1-dev (>> 1.1.0-2) | libnifti-dev, python-sphinx
Standards-Version: 3.8.4.0
Homepage: http://niftilib.sourceforge.net/pynifti/
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/pynifti.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/pynifti.git
DM-Upload-Allowed: yes

Package: python-nifti
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, python-numpy, python-numpy-ext, libjs-jquery
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python interface to the NIfTI I/O libraries
 Using PyNIfTI one can easily read and write NIfTI and ANALYZE images from
 within Python. The NiftiImage class provides Python-style access to the full
 header information. Image data is made available via NumPy arrays.
