Source: nibabel-snapshot
Section: python
Priority: optional
Maintainer: Michael Hanke <michael.hanke@gmail.com>
Uploaders: Yaroslav Halchenko <yoh@debian.org>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-all-dev (>= 2.5), python-support (>= 0.6), python-numpy-ext, python-sphinx
Standards-Version: 3.8.4
Homepage: http://niftilib.sourceforge.net/pynifti/
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/pynifti.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/pynifti.git
DM-Upload-Allowed: yes

Package: python-nibabel-snapshot
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, python-numpy, python-numpy-ext, libjs-jquery
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to various neuroimaging data formats
 None
