name: Pre-release checks

# This file tests against pre-release wheels for dependencies

on: [push]

defaults:
  run:
    shell: bash

jobs:
  pre-release:
    # Check pre-releases of dependencies on stable Python
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        python-version: [3.8, 3.9]
        architecture: ['x64', 'x86']
        install: ['setup']
        check: ['test']
        pip-flags: ['PRE_PIP_FLAGS']
        depends: ['DEFAULT_DEPENDS']
        include:
          # Pydicom master
          - os: ubuntu-latest
            python-version: 3.8
            install: setup
            check: test
            pip-flags: ''
            depends: PYDICOM_MASTER
        exclude:
          - os: ubuntu-latest
            architecture: x86
          - os: macos-latest
            architecture: x86
          - os: windows-latest
            python-version: 3.9
          - os: macos-latest
            python-version: 3.9

    env:
      # Options
      SETUP_REQUIRES: 'pip setuptools>=30.3.0 wheel'
      # Dependencies that should always be installable
      DEFAULT_DEPENDS: 'numpy scipy matplotlib pillow pydicom'
      REQUIREMENTS: '-r requirements.txt'
      # Full advertised range
      MIN_REQUIREMENTS: '-r min-requirements.txt'
      MIN_REQUIREMENTS_PLUS: '-r min-requirements.txt matplotlib==1.5.3 pydicom==0.9.9 pillow==2.6'
      PYDICOM_MASTER: 'numpy git+https://github.com/pydicom/pydicom.git@master'
      # Might not find wheels for these
      OPTIONAL_DEPENDS: 'h5py indexed_gzip'
      PRE_PIP_FLAGS: '--pre --extra-index-url https://pypi.anaconda.org/scipy-wheels-nightly/simple'
      # Selection
      DEPENDS: ${{ matrix.depends }}
      INSTALL_TYPE: ${{ matrix.install }}
      CHECK_TYPE: ${{ matrix.check }}
      EXTRA_PIP_FLAGS: ${{ matrix.pip-flags }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Create virtual environment
        run: tools/ci/create_env.sh
      - name: Build archive
        run: |
          source tools/ci/build_archive.sh
          echo "ARCHIVE=$ARCHIVE" >> $GITHUB_ENV
      - name: Install dependencies
        run: tools/ci/install_dependencies.sh
      - name: Install NiBabel
        run: tools/ci/install.sh
      - name: Run tests
        run: tools/ci/check.sh
        if: ${{ matrix.check != 'skiptests' }}
      - uses: codecov/codecov-action@v1
        with:
          file: for_testing/coverage.xml
        if: ${{ always() }}
      - name: Upload pytest test results
        uses: actions/upload-artifact@v2
        with:
          name: pytest-results-${{ matrix.os }}-${{ matrix.python-version }}
          path: for_testing/test-results.xml
        if: ${{ always() && matrix.check == 'test' }}
